body {
  max-width: 320px;
  margin: auto;
  color: white;
}

img {
  display: block;
  max-width: 100%;
}

header, main, footer { 
  background: #231c1c;
}

.studio {
  margin: 0px;
}

h1, h2, footer {
  text-align: center;
}

h1{
  font-size: 40px;
}

.legende {
  text-align: right;
  font-size: 10px;
}

div {
  margin: 30px;
}

footer {
  height: 100px;
text-align: center;
}