body {
  max-width: 320px;
  margin: auto;
  color: white;
}

img {
  display: block;
  max-width: 100%;
}

header, main, footer { 
  background: #231c1c;

}

.studio {
  margin: 0px;
}

h1, h2, footer {
  text-align: center;
}
